{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row banner">
<div class="col-md-12 subbanner">
<h1>ABOUT</h1>
</div>
</div>

<div class="row padding30">
<p><b>Packers and Movers</b> is a globally admired service provider for packing and moving. 
Our willpower and solid work has made us now the foremost and unmatched service provider in the packers and movers business.
We known for meeting the detailed requirement of the clients within specified time. 
The services offered by us comprises of Warehousing / Storage, Car Transportation, 
Transportation, Insurance, Relocation Service, Packing & Unpacking and Loading & Unloading.</p>
<p>Our company delivers door-to-door transportation services across all the major destinations of the country. 
We modify the services as per the client requirements while keeping the budget to the minimal. 
We take up challenges in meeting the bulk of orders and successfully finish them securly. 
We are supported by highly trained and expert personnel having years of experience in this area.</p>
<p>We work in symphony  with  the  clients  to  understand  their  requirements and provide them cost
 - effective  solutions  for  all  their  packing  and  moving needs. The  team  of customer  care  
 promptly  attends  all  the  queries of  the  clients and provide them with complete details of our 
 services. All  the details are discussed with the clients beforehand  to provide  hassle  free move.
 Our company has been at the forefront of the industry with a strong commitment to integrity,
 reliability and professionalism.
</p>
</div>

{% endblock %}