{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row banner">
<div class="col-md-12 subbanner">
<h1>Gallary</h1>
</div>
</div>

<div class="row padding30" id="gallary">

<div class="col-md-3">
<img src="{% static 'img/p1.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p2.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p3.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p4.png' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p5.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p6.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p7.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/p8.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/o1.png' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/o2.png' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/o6.jpg' %}" height="200" width="100%"/>
</div>
<div class="col-md-3">
<img src="{% static 'img/to.png' %}" height="200" width="100%"/>
</div>
</div>

{% endblock %}