{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
<img src="{% static 'img/to.png' %}" height="400" width="100%"/>
</div>
</div>
<div class="row" id="estimate">
<div class="col-md-3">
<h4><img src="{% static 'img/pp.png' %}" height="40" width="30%"/>
FREE ESTIMATE</h4>
</div>
<div class="col-md-3">
<h4><img src="{% static 'img/pp1.png' %}" height="40" width="30%"/>FLAT RATE</h4>
</div>
<div class="col-md-3">
<h4><img src="{% static 'img/pp2.png' %}" height="40" width="30%"/>QUICK DELIVERY</h4>
</div>
<div class="col-md-3">
<h4><img src="{% static 'img/pp3.png' %}" height="40" width="30%"/>24/7 WORKING HOURS</h4>
</div>
</div>
<div class="row" id="make">
<div class="col-md-6 col-md-offset-3">

<h4>MAKE YOUR PACKING A WONDERFUL EXPERIANCE</h4>

</div>
</div>
<div class="row" id="style">

<div class="col-md-8 col-md-offset-2 text-center">
<h1>-There are several ways to get in touch-</h1>
<br>
<a href='/quote/'><button class="btn btn-primary btnpd">GET FREE QUOTE </button></a>

</div>
</div>
<div class="row" id="delivery">
<div class="col-md-8 col-md-offset-2">
<h1>-Delivery on time-</h1>
<h6 class="  text center">SAFE AND SECURE SERVICE</h6>
<p> Randomized words which don't look even sightly belivable.its defined in simple and easy words in our services.</p>
</div>
</div>
<div class="row" id="home">
<div class="col-md-12">
<div class="col-md-4">
<img src="{% static 'img/p2.jpg' %}" height="200" width="100%"/>
<h3>HOME RELOCATION</h3>
<p>There a number of reasons when people need to relocate their home.Obiously, they would want to move their householding belongings safely. </p>
</div>
<div class="col-md-4">
<img src="{% static 'img/p3.jpg' %}" height="200" width="100%"/>
<h3>OFFICE RELOCATION</h3>
<p>You may need to do office relocation for various reasons. One of the common reason growing buisness is need to expand better infrastructure facilities. </p>
</div>
<div class="col-md-4">
<img src="{% static 'img/p4.png' %}" height="200" width="100%"/>
<h3>CAR CARRIERS</h3>
<p>Transporting your vehicle to the new region is not asimple task. Thus you need professionals assistents in terms of relocating your vehicle from one city to another country. </p>
</div>
</div>
</div>
</div>
<div class="row" id="product">
<div class="col-md-10 col-md-offset-1 text-center">
<div class="col-md-3">
<img src="{% static 'img/gl6.png' %}" height="40" width="60%"/>
<h3 class="producthead" style="color:#0000CC;"> 255</h3>
<p>Packages Delivered</p>
</div>
<div class="col-md-3">
<img src="{% static 'img/gl2.png' %}" height="40" width="60%"/>
<h3 class="producthead" style="color:#0000CC;"> 51+</h3>
<p>Repeat Customers</p>

</div>
<div class="col-md-3">
<img src="{% static 'img/gl3.png' %}" height="40" width="60%"/>
<h3 class="producthead" style="color:#0000CC;">55</h3>
<p>Our Clients</p>
</div>
<div class="col-md-3">
<img src="{% static 'img/gl4.png' %}" height="40" width="60%"/>
<h3 class="producthead" style="color:#0000CC;">252+</h3>
<p>Comercial Goods</p>
</div>
</div>
</div>
</div>
<div class="row" id="are">
<div class="col-md-10 col-md-offset-1">
<h5 class="producthead" style="color:#FFFFFF">ARE YOU GOING</h5>
<h1 class="producthead" style="color:#FFFFFF">TO MOVE?</h1>
<p class="producthead" style="color:#FFFFFF">We deliver the Goods to the most complicated places on earth</p>
<img src="{% static 'img/gl8.png' %}" height="60" width="60%"/>

</div>
</div>
<div class="row" id="work">
<div class="col-md-6 col-md-offset-3">
<h3>-HOW WE WORK-</h3>
<p>Safe and secure service</p>
</div>
</div>
<div class="row">
<div class="col-md-3">
<img src="{% static 'img/p5.jpg' %}" height="200" width="100%"/>
<h2>01.Book Us</h2>
</div>
<div class="col-md-3">
<img src="{% static 'img/p6.jpg' %}" height="200" width="100%"/>
<h2>02.We Pack Your Goods</h2>
</div>
<div class="col-md-3">
<img src="{% static 'img/p7.jpg' %}" height="200" width="100%"/>
<h2>03.We Move Your Goods</h2>
</div>
<div class="col-md-3">
<img src="{% static 'img/p8.jpg' %}" height="200" width="100%"/>
<h2>04.We Deliver</h2>
</div>
</div>
</div>
<div class="row" id="client">
<div class="col-md-8 col-md-offset-2">
<h3>-Words From Our Clients-</h3>
<p>safe and secure service </p>
</div>
</div>
</div>
<div class="row" style="padding:30px;">
<div class="col-md-6">
<p>"Very good service and exactly as per commited. They are reasonsble and quick as well as handled my stuff with care. 
I moved within the city and was very satisfied with their service." </p>
<div class="row">
<div class="col-md-2">
<img src="{% static 'img/o3.png' %}" height="60" width="100%"/>
</div>
<div class="col-md-10">
<h4>Harjeet Singh</h4>

</div>
</div>
</div>
<div class="col-md-6">
<p>"Excellent service. Better quality as they promised to be provide. I am impressed with their services.
 In future the quality of service provide as customser needs." </p>
<div class="row">
<div class="col-md-2">
<img src="{% static 'img/o5.png' %}" height="60" width="100%"/>
</div>
<div class="col-md-10">
<h4>Aman Kumar</h4>

</div>
</div>
</div>
</div>
<div class="row" id="about">
<div class="col-md-6">
<h6>Something about us.</h6>
<h4>Moving is now Hassle Free & Fun with </h4>

<p>Packers and movers is  priviliged to have a good infrastructure related to packaging and transportation of goods. 
Our team of skilled professionals takes extra care of all your goods.
 We have a large feet of vehicles and drivers for safe transportation of your valuables.</p>
</div>
<div class="col-md-6">
<img src="{% static 'img/p8.jpg' %}" height="200" width="100%"/>
</div>
</div>

</div>
{% endblock %}