{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row banner">
<div class="col-md-12 subbanner">
<h1>SAFETY FEATURES</h1>
</div>
</div>

<div class="row padding30" id="safety">
<p>
Safety is the state of being "safe", the condition of being protected against physical, social, spiritual, financial, political, emotional, occupational, psychological, educational, or other types or consequences of failure, damage, error, accident, harm, or any other event which could be considered non-desirable. It can include protection of people or of possessions.
</p>
<p>
At "Packers and Movers International Co.", we give utmost importance to the safety of the consignment. We provide our clients, appropriate facilities that would suit their specific moving requirements. Our experienced personnel help our clients in deciding the size of the "Household Carrier" as per the volume of goods that needs to be moved. This helps the transportation of the goods fit neatly and compactly into the given space, thus ensuring the safety of goods by encountering the jerks and bumps during the transit.
</p>
<br>
<h3 class="text-center" style="font-family: Calibri; font-size:30px; background:#FF3366; color:#fff;
padding:10px;">
Some of the features of safety standards we follow are :</h3>


<div class="col-md-12 safety">
<div class="col-md-7">
<h3><span class="heading">Safety Belts</span></h3>
<p>We secure your valuable belongings by using a specialised belt system in our trucks, which fixes the goods at top of the vehicle, hence keeping your goods intact in their position during transportation.
</p>
<ul>
<li>Enhances strength and durability</li>
<li>Reduces risks of damage</li>
<li>Firm grasping power</li>
<li>Full protection to consignment</li>
<li>Each item tied with a separate belt</li>
</ul>
</div>
<div class="col-md-5">
<img src="{% static 'img/f1.png' %}" height="300" width="90%" />
</div>
</div>


<div class="col-md-12 safety">
<div class="col-md-5">
<img src="{% static 'img/f2.png' %}" height="300" width="90%" />
</div>
<div class="col-md-7">
<h3><span class="heading">Personal Locks</span></h3>
<p>We provide our clients with the facility of using their personal locks and keys on Trucking Cube (Container) which gives them the secured feeling of transporting their goods from origin to the destination place.
</p>
<ul>
<li>Utmost Care</li>
<li>Personalized Facility</li>
<li>Cost-effective option</li>
<li>Peaceful Movement</li>
<li>Enhance Durability for Storage</li>
</ul>
</div>

</div>



<div class="col-md-12 safety">
<div class="col-md-7">
<h3><span class="heading">Safety Nets</span></h3>
<p>With the help of these nets, we secure the electronic or heavy items to a position with the walls of our Household Carriers. These safety harnesses provide a firm grasp to the luggage so fixated, which saves them from getting damage at the time when the carriers are brought to a halt or during a mishap.
</p>
<ul>
<li>Secure Move</li>
<li>Safe Transportation</li>
<li>No Damage during the transit</li>
<li>Complete safety to your consignment</li>
<li>Keeps your goods intact</li>
</ul>
</div>
<div class="col-md-5">
<img src="{% static 'img/f3.png' %}" height="300" width="90%" />
</div>
</div>




<div class="col-md-12 safety">
<div class="col-md-5">
<img src="{% static 'img/f4.png' %}" height="300" width="90%" />
</div>
<div class="col-md-7">
<h3><span class="heading">Plant Carriers</span></h3>
<p>Your loving plants get special attention at the time of relocation with the help of our Plant Carriers that are particularly designed to carry them safely with other household goods without any breakage.
</p>
<ul>
<li>Fixation of plants at one place</li>
<li>Spacious and comfortable</li>
<li>No mixing with other goods</li>
<li>100% assured movement</li>
<li>Absolute satisfactory service</li>
</ul>
</div>

</div>




<div class="col-md-12 safety">
<div class="col-md-7">
<h3><span class="heading">Pet Carriers</span></h3>
<p>We relocate your beloved pets with same care as we do for your belongings. We use specialized Cages for taking your pets along with you at your desired location, by keeping safety at our top most priority.
</p>
<ul>
<li>Provides comfort and warmth</li>
<li>Prevents pets from outside environment</li>
<li>Economic and portable</li>
<li>Enjoyment while travelling</li>
<li>Keeps your unwanted stress away</li>
</ul>
</div>
<div class="col-md-5">
<img src="{% static 'img/f5.png' %}" height="300" width="90%" />
</div>
</div>



<div class="col-md-12 safety">
<div class="col-md-5">
<img src="{% static 'img/f6.png' %}" height="300" width="90%" />
</div>
<div class="col-md-7">
<h3><span class="heading">Foam Sheets</span></h3>
<p>The packing material which we use to ensure safety of goods during the transportation includes Fabric Sheets, which are designed for packing furniture and heavy-weight goods so to protect them from scratches and damages.
</p>
<ul>
<li>Provides soft and cushiony effect</li>
<li>Fully secured with tight sealing</li>
<li>Reusable and Eco-friendly</li>
<li>Saves cost and raises quality</li>
<li>Resistant to moist and dust</li>
</ul>
</div>

</div>




<div class="col-md-12 safety">
<div class="col-md-7">
<h3><span class="heading">Carpet Floor</span></h3>
<p>With the thought of providing safety to our customer's valuables during transit, our Mentor Mr. Ramesh Agarwal came up with a different concept of carpet use to protect the articles against the jerks and hard surfaces of the vehicles. It was decided that a sponge carpet would be spread all over the floor of all the trucks and carriers of the company providing.
</p>

</div>
<div class="col-md-5">
<img src="{% static 'img/f7.png' %}" height="300" width="90%" />
</div>
</div>




</div>

{% endblock %}